jit
generated
ignore/
*.o
*.*~
*.xcodeproj
out/
*.swp
*.exe
*.dll
*.so
*.lib
*.a
*.db
*.zip
*.pem
*.lic
*.tsn
*.bin
*.csr
*.prof
*.log
*.local
*.tmp
*.pid
*.old

# various stuff that VC++ produces/uses
Debug/
Release/
*.sln
*.suo
*.vcproj
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
UpgradeLog*.XML
_UpgradeReport_Files/
ipch/
*.sdf
*.opensdf
*.orig
*.temp
*.7z
*.zip
.idea/